pytest>=7.3.1
black>=23.3.0
pylint>=2.17.4
flake8>=6.0.0
GitPython>=3.1.31
atlassian-python-api>=3.36.0
lxml>=4.9.2
xmltodict>=0.13.0
beautifulsoup4>=4.12.2
pymongo>=4.3.3
markdown>=3.4.3
jinja2>=3.1.2
pyyaml>=6.0
simple-salesforce>=1.12.4
fastapi>=0.95.1
uvicorn>=0.22.0
